# Requirements para Proyecto MLY0100 - Brazilian E-commerce
# Python 3.11.9 o superior





# Python dependencies
pandas
scikit-learn
xgboost
matplotlib
seaborn
imbalanced-learn
joblib
# Airflow dependencies
apache-airflow==2.8.1
psycopg2-binary
